#logOutButton {
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
  border-color: #6d9414;
  background-color: #6d9414;
  border-width: 1px 1px 1px;
  font-size: 15px;
  border-radius: 10%;
  border:none;
  cursor: pointer;
  outline:0;
} 

#logOutButton:hover {
    text-decoration: none;
    color: #f2f2f2;
  }