#logOutButton {
    display: inline-block;
    padding: 10px 20px;
    border-color: #6d9414;
    border-width: 1px 1px 1px;
    border-radius: 4px;
    background-color: #6d9414;
    color: #f2f2f2;
    outline: 0;
    cursor: pointer;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
}

#logOutButton:hover {
    text-decoration: none;
    background-color: #648b16;
    color: #f8f8f8;
}