.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(130,153,0); 
    background-color: rgba(130, 153, 0, 0.4); /* Black w/ opacity */
}

.modal-main {
    position: fixed;
    width: 60%;
    top: 60%;
    left: 50%;
    /* height: 70vh; */
    height: auto;
    justify-content: center;
    transform: translate(-50%,-50%);
    padding: 2em;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}