footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  /* position: fixed;
  left: 0;
  bottom: 0;
  right: 0; */
}

.footer {
  background-image: url(/image/fungi.png);
  background-size: cover;
}
