

.MuiTypography-root #typeText .MuiTypography-body1 {
    font-family: serif;
}

.MuiPaper-root .MuiCard-root .ProductsItem-card-2 .MuiPaper-elevation1 .MuiPaper-rounded {
    font-family: serif;
}


.MuiButtonBase-root .MuiCardActionArea-root {
    font-family: serif;
}

.MuiCardMedia-root .ProductsItem-media-3 .MuiCardMedia-media .MuiCardMedia-img {
    font-family: serif;
}

.MuiCardContent-roo

.MuiTypography-root .MuiTypography-h5 .MuiTypography-gutterBottom .typeText {
    font-family: fantasy;
}

.MuiTypography-root .MuiTypography-body1 .typeText {
    font-family: serif;
}

.MuiCardActionArea-focusHighlight {
    font-family: serif;
}

.MuiTouchRipple-root {
    font-family: serif;
}

.MuiCardActions-root .MuiCardActions-spacing {
    font-family: serif;
}

.MuiButtonBase-root .MuiButton-root .MuiButton-text .MuiButton-textPrimary .MuiButton-textSizeSmall .MuiButton-sizeSmall .typeText {
    font-family: serif;
}

.MuiButton-label {
    font-family: serif;
}